https://developers.google.com/maps/documentation/javascript/get-api-key

https://console.cloud.google.com/apis/credentials?project=secret-antonym-291811

https://console.cloud.google.com/google/maps-apis/metrics?project=secret-antonym-291811

https://www.npmjs.com/package/@react-google-maps/api
https://react-google-maps-api-docs.netlify.app/#directionsservice

https://www.google.com/intl/en-US_US/help/terms_maps/

https://www.google.com/search?q=google+map+latitude+longitude&rlz=1C1CHBF_enBD876BD876&oq=google+map+&aqs=chrome.3.69i57j69i59j35i39j0l2j69i60l3.19166j0j1&sourceid=chrome&ie=UTF-8
google map latitude longitude

https://www.mapcoordinates.net/en


getting started with react sass
https://www.sassmeister.com/
https://create-react-app.dev/docs/adding-a-sass-stylesheet/